---
- name: Install Firefox
  ansible.builtin.package:
    name: firefox-esr
    state: present

- name: Configure profiles
  ansible.builtin.include_tasks: configure_profile.yml
  with_dict: "{{ firefox_profiles }}"
  loop_control:
    loop_var: firefox_profile
  tags: firefox
